@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #C3EBFA !important;
  color: black !important;
}

/* Styles for react-big-calendar */
.rbc-calendar {
  background-color: var(--background);
  border: none;
}

.rbc-toolbar {
  background-color: var(--background);
  border: none;
}

.rbc-toolbar button {
  color: var(--foreground);
  font-weight: 600;
}

.rbc-toolbar .rbc-btn-group {
  margin-bottom: 10px;
}

.rbc-time-content{
  border: none !important;
}

.rbc-time-gutter.rbc-time-column{
  font-size: 12px !important;
}

.rbc-btn-group:first-child{
  display: none !important;
}

.rbc-toolbar-label{
  padding: 0px 20px !important;
  text-align: right !important;
}

.rbc-btn-group:last-child{
  font-size: 13px !important;
}

.rbc-btn-group:last-child button{
  border: none !important;
  background-color:  #f1f0ff !important;
  margin-left: 2px !important;
}

.rbc-event {
  border: none;
  color: black;
  padding: 10px;
  margin: 10px;
  width: 99%;
}

.rbc-event-label{
  color:gray !important;
  margin-bottom: 5px !important;

}

.rbc-event:hover {
  background-color: #A8D8E6; /* Darker blue on hover */
}

.rbc-day-slot {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.rbc-event:nth-child(1) {
  background-color: #b3e6ff !important; /* Daha koyu mavi */
}

.rbc-event:nth-child(2) {
  background-color: #f9f5c8 !important; /* Daha koyu sarı */
}

.rbc-event:nth-child(3) {
  background-color: #d9d6ff !important; /* Daha koyu mor */
}

.rbc-event:nth-child(4) {
  background-color: #f9c2e8 !important; /* Daha koyu pembe */
}

.rbc-event:nth-child(5) {
  background-color: #b3e6ff !important; /* Daha koyu mavi */
}

.rbc-event:nth-child(6) {
  background-color: #f9f5c8 !important; /* Daha koyu sarı */
}

.rbc-event:nth-child(7) {
  background-color: #d9d6ff !important; /* Daha koyu mor */
}

.rbc-event:nth-child(8) {
  background-color: #f9c2e8 !important; /* Daha koyu pembe */
}
